
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Müşteri İsmi</label>
        <input type="text" class="form-control" name="ISIM" />
    </div>
    <div>
        <label>Müşteri Soyismi</label>
        <input type="text" class="form-control" name="SOYISIM" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Müşteri Ekle</button>
    </div>
</form>
